.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;

}

.button {
    display: flex;
    flex-direction: row;
}
.calc{
    display: flex;
    flex-direction: column;

 }
.zero{
    display: flex;
    flex-direction: row;
}

.array{
    display: flex;
    justify-content: initial;
}


.table{
display: flex;
    flex-direction: column;
    border: 1px dashed black;
    flex-grow: initial;
}
.money{
    display: flex;
    flex-direction: column;
    margin: 15px;
}